<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
   <%- include('./partials/nav.ejs') %>
    <h1>Index Information</h1>
    <div class="blogs content">
        <h2>  All Blogs : </h2>
        <h1> <% blogs %> </h1>
                <% if(blogs.length>0) {%>
                    <% blogs.forEach(blog=>{ %>
                        <a href="/blogs/<%= blog._id %>" class="single" >
                            <h3><%= blog.title %></h3>
                            <p><%= blog.snippet%></p>
                        </a>
                        
                    <%})%>
                <% } else { %>
                    <h1>There are No Blogs to Display </h1>
                <% } %>


    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>